body{
    text-align: center;
    background-color: rgba(38, 133, 228, 0.933);
    /* background-image: url("/viratkohli/image/virat.jpg"); */
    background-size: cover;
    opacity: 0.8;
}
h1{
    font-size: 100px;
    color: #afb8be;
}
h2{
    font-size: 50px;
}
.about{
    text-align: justify;
}
.division{
            background-color: rgba(121, 222, 245, 0.822);
            box-shadow: 20px 20px 20px #88c9f5;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 50px;
            /* margin-top: 50px; */
            line-height: 1.6;
            
}
a{
    color: black;
}
a:hover{
    color: rgb(147, 170, 182);
}
.caption{
    color: rgb(147, 170, 182);
    font-size: 20px;
}
footer{
    color: #afb8be;;
}